In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
engmixdataset = pd.read_csv('Eenglish Mixed 21.csv')
engmixdataset=engmixdataset[['LABEL','comclean']]
engmixdataset.rename(columns = {'comclean':'COMMENT'}, inplace = True)
engmixdataset.head()

  LABEL                  COMMENT
0    EM          થેંક્યુ સર 👌👌👌👌
1    EM           વેરી ગુડ સાહેબ
2    EM                     સુપર
3    EM  વેરી ગુડ હિમેશ રેશમિયા
4    EM           I m ગુજરાતીH R

In [3]:
engpuredataset = pd.read_csv('English Pure 2460.csv')
engpuredataset=engpuredataset[['LABEL','cleaned']]
engpuredataset.rename(columns = {'cleaned':'COMMENT'}, inplace = True)
engpuredataset.head()

  LABEL                 COMMENT
0    EP  You are very beautiful
1    EP                    Nice
2    EP   Nice video jitu bhai
3    EP                   Super
4    EP            Supar comedy

In [4]:
engdataset = pd.concat([engmixdataset, engpuredataset])
engdataset.isnull().sum()
engdataset

     LABEL                                     COMMENT
0       EM                             થેંક્યુ સર 👌👌👌👌
1       EM                              વેરી ગુડ સાહેબ
2       EM                                        સુપર
3       EM                     વેરી ગુડ હિમેશ રેશમિયા
4       EM                              I m ગુજરાતીH R
...    ...                                         ...
2396    EP  You say to subscribe at starting or at end
2397    EP             In this app there is no picture
2398    EP     Everything is possible if Modi is there
2399    EP                  Very good Himesh Reshamiya
2400    EP                            My Favorite Song

[2421 rows x 2 columns]

In [5]:
gujmixdataset = pd.read_csv('Gujarati Mixed.csv')
gujmixdataset=gujmixdataset[['LABEL','COMMENT']]
gujmixdataset.head()

  LABEL                                            COMMENT
0    GM  Atali Sundar mam as bakuda jode nathi sobhati .
1    GM  Mast idiea  maryo Ho....tamari sikhaman amare ...
2    GM                                    Va jitu bhai va
3    GM                                               Lala
4    GM                              Mari baby pan jove se

In [6]:
gujpuredataset = pd.read_csv('Gujarati Pure 674.csv')
gujpuredataset=gujpuredataset[['LABEL','cleaned']]
gujpuredataset.rename(columns = {'cleaned':'COMMENT'}, inplace = True)
gujpuredataset.head()

  LABEL                                            COMMENT
0    GP  વિદ્યાર્થીઓ વચ્ચે બોલે છે એટલે ભણવામાં મજા નથી...
1    GP  ગુજરાતી ઇતિહાસ આવી રીતે તમે જ શીખવી શકો બીજું ...
2    GP  બહુ જ સરળ શબ્દો માં સચોટ શિક્ષણ  પદ્ધતિ  અભિનંદન
3    GP  ખુબ જ સરસ ભણાવો છોતમારા ભણાવેલા સબ્દો બધા યાદ ...
4    GP                          પ્લે સ્ટોર માં બતાવતા નથી

In [7]:
gujdataset = pd.concat([gujmixdataset, gujpuredataset])
gujdataset.isnull().sum()
gujdataset.dropna()

    LABEL                                            COMMENT
0      GM  Atali Sundar mam as bakuda jode nathi sobhati .
1      GM  Mast idiea  maryo Ho....tamari sikhaman amare ...
2      GM                                    Va jitu bhai va
3      GM                                               Lala
4      GM                              Mari baby pan jove se
..    ...                                                ...
669    GP                     મહાદેવનું ગીત અમને ખુબ ગમે છે
670    GP                          અનેનગર મે જોગી આયાભજન પણ
671    GP                               આપણા કંઠે સાંભળવુ છે
672    GP                                       ‌ જય‌ભોલેનાથ
673    GP                  આવાગિત  અજી  બનાવો  ગિતાબેન રબારી

[3133 rows x 2 columns]

In [8]:
hinmixdataset = pd.read_csv('Hindi Mixed324.csv')
hinmixdataset=hinmixdataset[['LABEL','comclean']]
hinmixdataset.rename(columns = {'comclean':'COMMENT'}, inplace = True)
hinmixdataset

    LABEL                                            COMMENT
0      HM                                  VA  VA KYA BAT HE
1      HM                               Bahut khub jitu bhay
2      HM                            Sab se ðŸ‘ðŸ’¯ 1 nambr
3      HM  Sachi bat he jitu bhai AAP  ko call nahi kiya ...
4      HM                                         joks bhejo
..    ...                                                ...
322    HM  geeta g aap ko bohot namah kuki songs dhamal m...
323    HM   itne din ke bad lebel song or to aap ke gaan fav
324    HM  Geeta bahan yah gana aapka bahut Sundar hai Ha...
325    HM                       Modi हे तो सब kuch Mumkin है
326    HM          Sir cricket pich length  20 mters hoti he

[327 rows x 2 columns]

In [9]:
hinpuredataset = pd.read_csv('Hindi Pure 64.csv')
hinpuredataset=hinpuredataset[['LABEL','comclean']]
hinpuredataset.rename(columns = {'comclean':'COMMENT'}, inplace = True)
hinpuredataset

   LABEL                                            COMMENT
0     HP  गुज्जूभाई बनया दबंग यह क्यों नहीं मिलता है यूट...
1     HP  उमंग व्यास जी और उनकी टीम को बहुत बहुत धन्यवाद...
2     HP  मुझे गुजराती बिल्कुल नहीं आती लेकिन पूरी फिल्म...
3     HP              यत्र तत्र सर्वत्र प्रेम ही प्रेम है।।
4     HP                                            महेसुजी
..   ...                                                ...
59    HP          ए खुदा मत लिखा करो  किसी की अधूरी कहानी
60    HP                                     पसंद है वीडियो
61    HP                                    बहुत बडीया गाना
62    HP                    🚩काल का भी उस पर क्या आघात हो …
63    HP                    जिस बंदे पर महाकाल का हाथ हो🕉🚩🙏

[64 rows x 2 columns]

In [10]:
hindataset = pd.concat([hinmixdataset, hinpuredataset])
hindataset.isnull().sum()
hindataset

   LABEL                                            COMMENT
0     HM                                  VA  VA KYA BAT HE
1     HM                               Bahut khub jitu bhay
2     HM                            Sab se ðŸ‘ðŸ’¯ 1 nambr
3     HM  Sachi bat he jitu bhai AAP  ko call nahi kiya ...
4     HM                                         joks bhejo
..   ...                                                ...
59    HP          ए खुदा मत लिखा करो  किसी की अधूरी कहानी
60    HP                                     पसंद है वीडियो
61    HP                                    बहुत बडीया गाना
62    HP                    🚩काल का भी उस पर क्या आघात हो …
63    HP                    जिस बंदे पर महाकाल का हाथ हो🕉🚩🙏

[391 rows x 2 columns]

In [13]:
engdataset=engdataset.sample(n=220)
gujdataset=gujdataset.sample(n=220)
hindataset=hindataset.sample(n=220)
dataset = pd.concat([engdataset, gujdataset])
dataset = pd.concat([dataset, hindataset])
dataset.isnull().sum()
dataset=dataset.dropna()
dataset=dataset.replace("EM", "English")
dataset=dataset.replace("EP", "English")
dataset=dataset.replace("GM", "Gujarati")
dataset=dataset.replace("GP", "Gujarati")
dataset=dataset.replace("HM", "Hindi")
dataset=dataset.replace("HP", "Hindi")

In [14]:
X=dataset['COMMENT']
y=dataset['LABEL']

In [15]:
data_list = []
# iterating through all the text
for text in X:
       # removing the symbols and numbers
        text = re.sub(r'[!@#$(),n"%^*?:;~`0-9]', ' ', text)
        text = re.sub(r'[[]]', ' ', text)
        # converting the text to lower case
        text = text.lower()
        # appending to data_list
        data_list.append(text)

C:\Users\sanjo\AppData\Local\Temp\ipykernel_17276\2188784731.py:6: FutureWarning: Possible nested set at position 1
  text = re.sub(r'[[]]', ' ', text)

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(data_list).toarray()

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

In [19]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

In [20]:
y_pred = model.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
ac = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

print("Accuracy is :",ac)

Accuracy is : 0.8165137614678899

In [22]:
def prediction(text):
    x = cv.transform([text]).toarray()
    lang = model.predict(x)
    lang = le.inverse_transform(lang)
    print("The langauge is in",lang[0])
    return (lang[0])
# English
prediction("થેંક્યુ સર ")

The langauge is in Gujarati

'Gujarati'

In [23]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [25]:
pip install waitress

Requirement already satisfied: waitress in c:\users\sanjo\anaconda3\lib\site-packages (2.1.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from flask import Flask, request, render_template
from waitress import serve

app = Flask(__name__)

@app.route('/')
def home():
    return render_template('index.html')

@app.route('/getprediction',methods=['POST'])
def getprediction():
    final_input =request.form.get("Text")
    pre =prediction(final_input)
    return render_template('index.html', output='The langauge is in :{}'.format(pre))

if __name__=='__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [05/Nov/2023 22:33:22] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [05/Nov/2023 22:33:28] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Hindi

127.0.0.1 - - [05/Nov/2023 22:33:33] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Gujarati

127.0.0.1 - - [05/Nov/2023 22:33:44] "POST /getprediction HTTP/1.1" 200 -

The langauge is in English

127.0.0.1 - - [05/Nov/2023 22:33:55] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Hindi

127.0.0.1 - - [05/Nov/2023 22:34:16] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Hindi

127.0.0.1 - - [05/Nov/2023 22:34:26] "POST /getprediction HTTP/1.1" 200 -

The langauge is in English

127.0.0.1 - - [05/Nov/2023 22:34:34] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Gujarati