In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
engmixdataset = pd.read_csv('Eenglish Mixed 21.csv')
engmixdataset=engmixdataset[['LABEL','comclean']]
engmixdataset.rename(columns = {'comclean':'COMMENT'}, inplace = True)
engmixdataset.head()

  LABEL                  COMMENT
0    EM          ркерлЗркВркХрлНркпрлБ рк╕рк░ ЁЯСМЁЯСМЁЯСМЁЯСМ
1    EM           рк╡рлЗрк░рлА ркЧрлБркб рк╕рк╛рк╣рлЗркм
2    EM                     рк╕рлБрккрк░
3    EM  рк╡рлЗрк░рлА ркЧрлБркб рк╣рк┐ркорлЗрк╢ рк░рлЗрк╢ркорк┐ркпрк╛
4    EM           I m ркЧрлБркЬрк░рк╛ркдрлАH R

In [3]:
engpuredataset = pd.read_csv('English Pure 2460.csv')
engpuredataset=engpuredataset[['LABEL','cleaned']]
engpuredataset.rename(columns = {'cleaned':'COMMENT'}, inplace = True)
engpuredataset.head()

  LABEL                 COMMENT
0    EP  You are very beautiful
1    EP                    Nice
2    EP   Nice video jitu bhai
3    EP                   Super
4    EP            Supar comedy

In [4]:
engdataset = pd.concat([engmixdataset, engpuredataset])
engdataset.isnull().sum()
engdataset

     LABEL                                     COMMENT
0       EM                             ркерлЗркВркХрлНркпрлБ рк╕рк░ ЁЯСМЁЯСМЁЯСМЁЯСМ
1       EM                              рк╡рлЗрк░рлА ркЧрлБркб рк╕рк╛рк╣рлЗркм
2       EM                                        рк╕рлБрккрк░
3       EM                     рк╡рлЗрк░рлА ркЧрлБркб рк╣рк┐ркорлЗрк╢ рк░рлЗрк╢ркорк┐ркпрк╛
4       EM                              I m ркЧрлБркЬрк░рк╛ркдрлАH R
...    ...                                         ...
2396    EP  You say to subscribe at starting or at end
2397    EP             In this app there is no picture
2398    EP     Everything is possible if Modi is there
2399    EP                  Very good Himesh Reshamiya
2400    EP                            My Favorite Song

[2421 rows x 2 columns]

In [5]:
gujmixdataset = pd.read_csv('Gujarati Mixed.csv')
gujmixdataset=gujmixdataset[['LABEL','COMMENT']]
gujmixdataset.head()

  LABEL                                            COMMENT
0    GM  Atali Sundar mam as bakuda jode nathi sobhati .
1    GM  Mast idiea  maryo Ho....tamari sikhaman amare ...
2    GM                                    Va jitu bhai va
3    GM                                               Lala
4    GM                              Mari baby pan jove se

In [6]:
gujpuredataset = pd.read_csv('Gujarati Pure 674.csv')
gujpuredataset=gujpuredataset[['LABEL','cleaned']]
gujpuredataset.rename(columns = {'cleaned':'COMMENT'}, inplace = True)
gujpuredataset.head()

  LABEL                                            COMMENT
0    GP  рк╡рк┐ркжрлНркпрк╛рк░рлНркерлАркУ рк╡ркЪрлНркЪрлЗ ркмрлЛрк▓рлЗ ркЫрлЗ ркПркЯрк▓рлЗ ркнркгрк╡рк╛ркорк╛ркВ ркоркЬрк╛ ркиркерлА...
1    GP  ркЧрлБркЬрк░рк╛ркдрлА ркЗркдрк┐рк╣рк╛рк╕ ркЖрк╡рлА рк░рлАркдрлЗ ркдркорлЗ ркЬ рк╢рлАркЦрк╡рлА рк╢ркХрлЛ ркмрлАркЬрлБркВ ...
2    GP  ркмрк╣рлБ ркЬ рк╕рк░рк│ рк╢ркмрлНркжрлЛ ркорк╛ркВ рк╕ркЪрлЛркЯ рк╢рк┐ркХрлНрк╖ркг  рккркжрлНркзркдрк┐  ркЕркнрк┐ркиркВркжрки
3    GP  ркЦрлБркм ркЬ рк╕рк░рк╕ ркнркгрк╛рк╡рлЛ ркЫрлЛркдркорк╛рк░рк╛ ркнркгрк╛рк╡рлЗрк▓рк╛ рк╕ркмрлНркжрлЛ ркмркзрк╛ ркпрк╛ркж ...
4    GP                          рккрлНрк▓рлЗ рк╕рлНркЯрлЛрк░ ркорк╛ркВ ркмркдрк╛рк╡ркдрк╛ ркиркерлА

In [7]:
gujdataset = pd.concat([gujmixdataset, gujpuredataset])
gujdataset.isnull().sum()
gujdataset.dropna()

    LABEL                                            COMMENT
0      GM  Atali Sundar mam as bakuda jode nathi sobhati .
1      GM  Mast idiea  maryo Ho....tamari sikhaman amare ...
2      GM                                    Va jitu bhai va
3      GM                                               Lala
4      GM                              Mari baby pan jove se
..    ...                                                ...
669    GP                     ркорк╣рк╛ркжрлЗрк╡ркирлБркВ ркЧрлАркд ркЕркоркирлЗ ркЦрлБркм ркЧркорлЗ ркЫрлЗ
670    GP                          ркЕркирлЗркиркЧрк░ ркорлЗ ркЬрлЛркЧрлА ркЖркпрк╛ркнркЬрки рккркг
671    GP                               ркЖрккркгрк╛ ркХркВркарлЗ рк╕рк╛ркВркнрк│рк╡рлБ ркЫрлЗ
672    GP                                       тАМ ркЬркптАМркнрлЛрк▓рлЗркирк╛рке
673    GP                  ркЖрк╡рк╛ркЧрк┐ркд  ркЕркЬрлА  ркмркирк╛рк╡рлЛ  ркЧрк┐ркдрк╛ркмрлЗрки рк░ркмрк╛рк░рлА

[3133 rows x 2 columns]

In [8]:
hinmixdataset = pd.read_csv('Hindi Mixed324.csv')
hinmixdataset=hinmixdataset[['LABEL','comclean']]
hinmixdataset.rename(columns = {'comclean':'COMMENT'}, inplace = True)
hinmixdataset

    LABEL                                            COMMENT
0      HM                                  VA  VA KYA BAT HE
1      HM                               Bahut khub jitu bhay
2      HM                            Sab se ├░┼╕тАШ┬Н├░┼╕тАЩ┬п 1 nambr
3      HM  Sachi bat he jitu bhai AAP  ko call nahi kiya ...
4      HM                                         joks bhejo
..    ...                                                ...
322    HM  geeta g aap ko bohot namah kuki songs dhamal m...
323    HM   itne din ke bad lebel song or to aap ke gaan fav
324    HM  Geeta bahan yah gana aapka bahut Sundar hai Ha...
325    HM                       Modi рд╣реЗ рддреЛ рд╕рдм kuch Mumkin рд╣реИ
326    HM          Sir cricket pich length  20 mters hoti he

[327 rows x 2 columns]

In [9]:
hinpuredataset = pd.read_csv('Hindi Pure 64.csv')
hinpuredataset=hinpuredataset[['LABEL','comclean']]
hinpuredataset.rename(columns = {'comclean':'COMMENT'}, inplace = True)
hinpuredataset

   LABEL                                            COMMENT
0     HP  рдЧреБрдЬреНрдЬреВрднрд╛рдИ рдмрдирдпрд╛ рджрдмрдВрдЧ рдпрд╣ рдХреНрдпреЛрдВ рдирд╣реАрдВ рдорд┐рд▓рддрд╛ рд╣реИ рдпреВрдЯ...
1     HP  рдЙрдордВрдЧ рд╡реНрдпрд╛рд╕ рдЬреА рдФрд░ рдЙрдирдХреА рдЯреАрдо рдХреЛ рдмрд╣реБрдд рдмрд╣реБрдд рдзрдиреНрдпрд╡рд╛рдж...
2     HP  рдореБрдЭреЗ рдЧреБрдЬрд░рд╛рддреА рдмрд┐рд▓реНрдХреБрд▓ рдирд╣реАрдВ рдЖрддреА рд▓реЗрдХрд┐рди рдкреВрд░реА рдлрд┐рд▓реНрдо...
3     HP              рдпрддреНрд░ рддрддреНрд░ рд╕рд░реНрд╡рддреНрд░ рдкреНрд░реЗрдо рд╣реА рдкреНрд░реЗрдо рд╣реИредред
4     HP                                            рдорд╣реЗрд╕реБрдЬреА
..   ...                                                ...
59    HP          рдП рдЦреБрджрд╛ рдордд рд▓рд┐рдЦрд╛ рдХрд░реЛ  рдХрд┐рд╕реА рдХреА рдЕрдзреВрд░реА рдХрд╣рд╛рдиреА
60    HP                                     рдкрд╕рдВрдж рд╣реИ рд╡реАрдбрд┐рдпреЛ
61    HP                                    рдмрд╣реБрдд рдмрдбреАрдпрд╛ рдЧрд╛рдирд╛
62    HP                    ЁЯЪйрдХрд╛рд▓ рдХрд╛ рднреА рдЙрд╕ рдкрд░ рдХреНрдпрд╛ рдЖрдШрд╛рдд рд╣реЛ тАж
63    HP                    рдЬрд┐рд╕ рдмрдВрджреЗ рдкрд░ рдорд╣рд╛рдХрд╛рд▓ рдХрд╛ рд╣рд╛рде рд╣реЛЁЯХЙЁЯЪйЁЯЩП

[64 rows x 2 columns]

In [10]:
hindataset = pd.concat([hinmixdataset, hinpuredataset])
hindataset.isnull().sum()
hindataset

   LABEL                                            COMMENT
0     HM                                  VA  VA KYA BAT HE
1     HM                               Bahut khub jitu bhay
2     HM                            Sab se ├░┼╕тАШ┬Н├░┼╕тАЩ┬п 1 nambr
3     HM  Sachi bat he jitu bhai AAP  ko call nahi kiya ...
4     HM                                         joks bhejo
..   ...                                                ...
59    HP          рдП рдЦреБрджрд╛ рдордд рд▓рд┐рдЦрд╛ рдХрд░реЛ  рдХрд┐рд╕реА рдХреА рдЕрдзреВрд░реА рдХрд╣рд╛рдиреА
60    HP                                     рдкрд╕рдВрдж рд╣реИ рд╡реАрдбрд┐рдпреЛ
61    HP                                    рдмрд╣реБрдд рдмрдбреАрдпрд╛ рдЧрд╛рдирд╛
62    HP                    ЁЯЪйрдХрд╛рд▓ рдХрд╛ рднреА рдЙрд╕ рдкрд░ рдХреНрдпрд╛ рдЖрдШрд╛рдд рд╣реЛ тАж
63    HP                    рдЬрд┐рд╕ рдмрдВрджреЗ рдкрд░ рдорд╣рд╛рдХрд╛рд▓ рдХрд╛ рд╣рд╛рде рд╣реЛЁЯХЙЁЯЪйЁЯЩП

[391 rows x 2 columns]

In [13]:
engdataset=engdataset.sample(n=220)
gujdataset=gujdataset.sample(n=220)
hindataset=hindataset.sample(n=220)
dataset = pd.concat([engdataset, gujdataset])
dataset = pd.concat([dataset, hindataset])
dataset.isnull().sum()
dataset=dataset.dropna()
dataset=dataset.replace("EM", "English")
dataset=dataset.replace("EP", "English")
dataset=dataset.replace("GM", "Gujarati")
dataset=dataset.replace("GP", "Gujarati")
dataset=dataset.replace("HM", "Hindi")
dataset=dataset.replace("HP", "Hindi")

In [14]:
X=dataset['COMMENT']
y=dataset['LABEL']

In [15]:
data_list = []
# iterating through all the text
for text in X:
       # removing the symbols and numbers
        text = re.sub(r'[!@#$(),n"%^*?:;~`0-9]', ' ', text)
        text = re.sub(r'[[]]', ' ', text)
        # converting the text to lower case
        text = text.lower()
        # appending to data_list
        data_list.append(text)

C:\Users\sanjo\AppData\Local\Temp\ipykernel_17276\2188784731.py:6: FutureWarning: Possible nested set at position 1
  text = re.sub(r'[[]]', ' ', text)

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(data_list).toarray()

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

In [19]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

In [20]:
y_pred = model.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
ac = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

print("Accuracy is :",ac)

Accuracy is : 0.8165137614678899

In [22]:
def prediction(text):
    x = cv.transform([text]).toarray()
    lang = model.predict(x)
    lang = le.inverse_transform(lang)
    print("The langauge is in",lang[0])
    return (lang[0])
# English
prediction("ркерлЗркВркХрлНркпрлБ рк╕рк░ ")

The langauge is in Gujarati

'Gujarati'

In [23]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [25]:
pip install waitress

Requirement already satisfied: waitress in c:\users\sanjo\anaconda3\lib\site-packages (2.1.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from flask import Flask, request, render_template
from waitress import serve

app = Flask(__name__)

@app.route('/')
def home():
    return render_template('index.html')

@app.route('/getprediction',methods=['POST'])
def getprediction():
    final_input =request.form.get("Text")
    pre =prediction(final_input)
    return render_template('index.html', output='The langauge is in :{}'.format(pre))

if __name__=='__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [05/Nov/2023 22:33:22] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [05/Nov/2023 22:33:28] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Hindi

127.0.0.1 - - [05/Nov/2023 22:33:33] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Gujarati

127.0.0.1 - - [05/Nov/2023 22:33:44] "POST /getprediction HTTP/1.1" 200 -

The langauge is in English

127.0.0.1 - - [05/Nov/2023 22:33:55] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Hindi

127.0.0.1 - - [05/Nov/2023 22:34:16] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Hindi

127.0.0.1 - - [05/Nov/2023 22:34:26] "POST /getprediction HTTP/1.1" 200 -

The langauge is in English

127.0.0.1 - - [05/Nov/2023 22:34:34] "POST /getprediction HTTP/1.1" 200 -

The langauge is in Gujarati